<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CassandraConfiguration" type="Lesula.Cassandra.Configuration.CassandraConfigurationSection,Lesula.Cassandra" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="main" connectionString="Server=localhost;Database=reddstats;Trusted_Connection=True;"/>
  </connectionStrings>
  <!-- Cassandra -->
  <CassandraConfiguration rebuildDelay="300">
    <clusters>
      <add friendlyName="ReddStats" maximumRetries="3">
        <connection poolType="SIZEDKEYSPACEPOOL" factoryType="FRAMED" />
        <!-- <endpointManager type="ROUNDROBIN" defaultTimeout="6000" factory="simpledb" source="Prod Cluster"> -->
        <endpointManager type="ROUNDROBIN" defaultTimeout="1200000">
          <cassandraEndpoints>
            <add address="127.0.0.1" port="9160" />
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </CassandraConfiguration>
  <appSettings>
    <add key="rpc.username" value="lstern"/>
    <add key="rpc.password" value="password"/>
    <add key="rpc.address" value="http://127.0.0.1:45443"/>
    <add key="wallet.datapath" value="E:\\Reddcoin\\Blockchain"/>
  </appSettings>
</configuration>
